.header {
    position: sticky;
    top: 0;
    background-color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    list-style: none;
    margin-bottom: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.34);
    -webkit-box-shadow: 0px 6px 4px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 6px 4px 0px rgba(0,0,0,0.34);
}