.registration-container {
    background-image: url("/pexels-didsss-3953112.jpg");
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30dvh 70dvh;
    font-size: 1.2rem;
}

.bg { display: none;}

.registration-container > h2 {
    align-self: center;
    justify-self: center;
    color: #fff;
}
.registration-wrapper {
    padding-top: 30px;
    background-color: #fff;
    grid-row: 2/3;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 12px;
    background-color: #fff;
}

.registration-wrapper > form {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.field, .actions {
    width: 100%;
}

.field > input, .actions > input, .sign-up-link  {
    font-size: inherit;
    padding: 12px 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    max-width: 475px;
    border: 2px solid black;
}

.field > input:focus {
    outline: 2px groove black;
}

.rem {
    width: 85%;
    max-width: 475px;
    margin-left: auto;
    margin-right: auto;
}

.actions > input{
    background-color: black;
    color: #fff;
}

.sign-up-link {
    width: 72.25%;
    max-width: 475px;
    color: black;
    text-align: center;
    background-color: #fff;
    text-decoration: none;
    border: 1px solid black;
    margin-bottom: -20px;
}

@media screen and (min-width: 800px){
    .registration-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30dvh 70dvh;
    }

    .registration-container > h2, .registration-wrapper  {
        grid-column: 2/3;
    }
    .registration-container > h2 {
        color: black;
        align-self: last baseline;
    }

    .registration-container  {
        background: #fff;
    }

    .bg {
        display: block;
        grid-column: 1/2;
        grid-row: 1/3;
        background-image: url("/pexels-didsss-3953112.jpg");
    }
}